

.workspace-split.mod-root .view-content .markdown-source-view {
  background-color: #fff;
}

code[class*="language-"],
pre[class*="language-"],
.token.punctuation,
.token.operator {
  color: #24292e !important;
}


.markdown-source-view {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-source-view a {
  background-color: initial;
  text-decoration: none !important;
}

.markdown-source-view a:active,
.markdown-source-view a:hover {
  outline-width: 0;
}

.markdown-source-view strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-source-view h1 {
  font-size: 2em;
  margin: .67em 0;
}

.markdown-source-view img {
  border-style: none;
}

.markdown-source-view code,
.markdown-source-view pre {
  font-family: monospace,monospace;
  font-size: 1em;
  color: #24292e;
}

.markdown-source-view p code {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-source-view hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
/* 
.markdown-source-view input {
  font: inherit;
  margin: 0;
}

.markdown-source-view input {
  overflow: visible;
}

.markdown-source-view [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
} */

.markdown-source-view * {
  box-sizing: border-box;
}

.markdown-source-view input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-source-view a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-source-view a:hover {
  text-decoration: underline;
}

.markdown-source-view strong {
  font-weight: 600;
}

.markdown-source-view hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-source-view hr:after,
.markdown-source-view hr:before {
  display: table;
  content: "";
}

.markdown-source-view hr:after {
  clear: both;
}

.markdown-source-view table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-source-view td,
.markdown-source-view th {
  padding: 0;
}

.markdown-source-view details summary {
  cursor: pointer;
}


.markdown-source-view h1,
.markdown-source-view h2,
.markdown-source-view h3,
.markdown-source-view h4,
.markdown-source-view h5,
.markdown-source-view h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #24292e;
}

.markdown-source-view h1 {
  font-size: 32px;
}

.markdown-source-view h1,
.markdown-source-view h2 {
  font-weight: 600;
}

.markdown-source-view h2 {
  font-size: 24px;
}

.markdown-source-view h3 {
  font-size: 20px;
}

.markdown-source-view h3,
.markdown-source-view h4 {
  font-weight: 600;
}

.markdown-source-view h4 {
  font-size: 16px;
}

.markdown-source-view h5 {
  font-size: 14px;
}

.markdown-source-view h5,
.markdown-source-view h6 {
  font-weight: 600;
}

.markdown-source-view h6 {
  font-size: 12px;
}

.markdown-source-view p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-source-view blockquote {
  margin-left: 0;
  margin-right: 0;
}

.markdown-source-view ol,
.markdown-source-view ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-source-view ol ol,
.markdown-source-view ul ol {
  list-style-type: lower-roman;
}

.markdown-source-view ol ol ol,
.markdown-source-view ol ul ol,
.markdown-source-view ul ol ol,
.markdown-source-view ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-source-view dd {
  margin-left: 0;
}

.markdown-source-view code,
.markdown-source-view pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
}

.markdown-source-view pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-source-view input::-webkit-inner-spin-button,
.markdown-source-view input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-source-view :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-source-view .border {
  border: 1px solid #e1e4e8!important;
}

.markdown-source-view .border-0 {
  border: 0!important;
}

.markdown-source-view .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.markdown-source-view .rounded-1 {
  border-radius: 3px!important;
}

.markdown-source-view .bg-white {
  background-color: #fff!important;
}

.markdown-source-view .bg-gray-light {
  background-color: #fafbfc!important;
}

.markdown-source-view .text-gray-light {
  color: #6a737d!important;
}

.markdown-source-view hr {
  border-bottom-color: #eee;
}

.markdown-source-view kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-source-view:after,
.markdown-source-view:before {
  display: table;
  content: "";
}

.markdown-source-view:after {
  clear: both;
}

.markdown-source-view>:first-child {
  margin-top: 0!important;
}

.markdown-source-view>:last-child {
  margin-bottom: 0!important;
}

.markdown-source-view a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-source-view blockquote,
.markdown-source-view dl,
.markdown-source-view ol,
.markdown-source-view p,
.markdown-source-view pre,
.markdown-source-view table,
.markdown-source-view ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-source-view hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-source-view blockquote {
  padding: 0 1em;
  color: #6a737d;
  border: none;
  border-radius: 0px;
  border-left: .25em solid #dfe2e5 !important;
}

.markdown-source-view blockquote p,
.markdown-source-view blockquote ul {
  margin-bottom: 16px !important;
}

.markdown-source-view blockquote>:first-child {
  margin-top: 0;
}

.markdown-source-view blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-source-view h1,
.markdown-source-view h2,
.markdown-source-view h3,
.markdown-source-view h4,
.markdown-source-view h5,
.markdown-source-view h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-source-view h1 {
  font-size: 2em;
}

.markdown-source-view h1,
.markdown-source-view h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-source-view h2 {
  font-size: 1.5em;
}

.markdown-source-view h3 {
  font-size: 1.25em;
}

.markdown-source-view h4 {
  font-size: 1em;
}

.markdown-source-view h5 {
  font-size: .875em;
}

.markdown-source-view h6 {
  font-size: .85em;
  color: #6a737d;
}

.markdown-source-view ol,
.markdown-source-view ul {
  padding-left: 2em;
}

.markdown-source-view ol ol,
.markdown-source-view ol ul,
.markdown-source-view ul ol,
.markdown-source-view ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-source-view li {
  word-wrap: break-all;
}

.markdown-source-view li>p {
  margin-top: 16px;
}

.markdown-source-view li+li {
  margin-top: .25em;
}

.markdown-source-view dl {
  padding: 0;
}

.markdown-source-view dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-source-view dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-source-view table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-source-view table th {
  font-weight: 600;
}

.markdown-source-view table td,
.markdown-source-view table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-source-view table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-source-view table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-source-view img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.markdown-source-view code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.markdown-source-view pre {
  word-wrap: normal;
}

.markdown-source-view pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-source-view mark {
  color: #24292e !important;
  background-color: yellow !important;
}

.markdown-source-view pre,
.markdown-previev-view :not(pre) > code[class*="language-"],
.markdown-source-view pre[class*="language-"] {
  color: #24292e;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-source-view pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}



.markdown-source-view .task-list-item {
  list-style-type: none;
}

.markdown-source-view .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-source-view .task-list-item input {
  margin: .08em .43em .25em .15em;
  vertical-align: top;
}

.markdown-source-view ul > li.task-list-item {
  text-indent: -1.55em;
}


.markdown-source-view a.footnote-link {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Emoji;
}

.markdown-source-view a.tag {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0 10px;
  line-height: 22px;
  color: #0366d6;
  background-color: #f1f8ff;
}